<mat-card>
  <mat-card-header>
    <mat-card-title>Form Preview and Save Data</mat-card-title>
  </mat-card-header>
  <div class="example-container" *ngIf="data.length > 0">
    <form>
      <div *ngFor="let v of data; let index = index">
        <app-checkbox
          *ngIf="v.type == 'checkbox'"
          [fieldValue]="v.fieldValue"
          [text]="v.value"
          (toggleCheckbox)="toggleCheckbox($event, v, index)"
        ></app-checkbox>
        <p>
          <label *ngIf="v.type == 'label'">{{ v.value }} </label>
          <app-radio
            *ngIf="v.type == 'radio'"
            [uniqueId]="v.uniqueId"
            [formData]="formData[index]"
          ></app-radio>
        </p>
        <p>
          <app-input
            *ngIf="v.type == 'input'"
            [placeholder]="v.value"
            [value]="value"
            [value]="formData[index][v.uniqueId].value"
            (setInput)="formData[index][v.uniqueId].value = $event"
          ></app-input>
        </p>
        <p>
          <app-textarea
            *ngIf="v.type == 'textarea'"
            [placeholder]="v.value"
            [value]="value"
            [value]="formData[index][v.uniqueId].value"
            (setInput)="formData[index][v.uniqueId].value = $event"
          ></app-textarea>
        </p>

        <p>
          <app-select
            *ngIf="v.type == 'select'"
            [options]="v.option"
            [value]="formData[index][v.uniqueId].value"
            (setInput)="formData[index][v.uniqueId].value = $event"
          ></app-select>
        </p>
      </div>
      <button mat-raised-button color="primary" (click)="saveData()">
        Save
      </button>
    </form>
  </div>
</mat-card>
