<mat-card
  class="example-card my-2"
  cdkDrag
  *ngFor="let val of formJson; let i = index"
>
  <mat-card-header>
    <mat-card-title>{{ val.text }}</mat-card-title>
    <mat-card-subtitle>FieldName: {{ val.type }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> 
    <app-input
      *ngIf="val.type != 'select'"
      [placeholder]="val.text"
      [value]="formJson[i].value"
      (setInput)="formJson[i].value = $event"
      >
    </app-input>
    <app-input
      class="mx-2"
      *ngIf="val.type == 'checkbox' || val.type == 'radio'"
      [placeholder]="'Value'"
      [value]="formJson[i].fieldValue"
      (setInput)="formJson[i].fieldValue = $event"
    ></app-input>
    <app-select
      *ngIf="val.type == 'select'"
      [options]="val.option"
    ></app-select>
    <button
      mat-raised-button
      class="mx-2"
      *ngIf="val.type == 'select'"
      (click)="addOption(i)"
    >
      <mat-icon>add</mat-icon>
    </button>
    <ng-container *ngIf="val.type == 'select' && val.option.length > 0">
      <app-input
        *ngFor="let optionVal of val.option"
        [placeholder]="'Options'"
        [value]="optionVal.value"
        (setInput)="optionVal.value = $event"
      ></app-input>
    </ng-container>
  </mat-card-content>
</mat-card>
